<% provide(:title, "#{@room.name}") %>
<%= javascript_pack_tag 'home/index' %>
<div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
<div id="user-id" data-user-id="<%= current_user.id %>"></div>
<div class="container-fluid">
  <div class="row">
    <div class="main-content">
      <% if @room.present? %>
      <div class="chat-room">
        <nav class="navbar">
          <div class="navbar-button">
            <%= link_to "部屋一覧", "/rooms" %>
          </div>

          <button type="button" class="btn username-button" data-toggle="modal" data-target="#exampleModal">
            名前変更
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <%= render 'users/form' %>
                </div>
              </div>
            </div>
          </div>

        </nav>
        <div id="messages">
          <% @last_messages.each do |message| %>
          <%= render 'messages/message', message: message %>
          <% end %>
        </div>
        <div class="chat-box">
          <%= render 'messages/form', message: Message.new, room: @room %>
        </div>
      </div>
      <% end %>
    </div>
</div>